<p id="notice"><%= notice %></p>


<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

  <% if @user.admin? %>
    <p> You are admin</p>
  <% end %>

<%= link_to 'Change password', edit_user_path(@user) %>
