<div class="row">
	<div class="col-md-4">
	  <h3>Your ratings</h3>
	  <%= render 'list', ratings: Rating.where(:user_id => current_user.id) %>

	</div>

	<div class="col-md-4">
	  <h3>Recent ratings</h3>
	  <%= render 'list', ratings: Rating.recent %>
	</div>

</div>

 <h3><%= link_to "New Rating", new_rating_path %> </h3>